<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="mainContent">
     <div class="row mt-5 mb-5">
            <div class="col-6 mx-auto">
                <form th:action="@{'/admin/addshirts'}" method="post">
                    <div class="mt-3">
                        <label>
                            TITLE :
                        </label>
                        <input type="text" class="form-control mt-2" name="shirt_title" required>
                    </div>
                    <div class="mt-3">
                        <label>
                            NAME :
                        </label>
                        <input type="text" class="form-control mt-2" name="shirt_name" required>
                    </div>
                    <div class="mt-3">
                        <label>
                            PRICE :
                        </label>
                        <input type="text" class="form-control mt-2" name="shirt_price" required>
                    </div>
                    <div class="mt-3">
                        <div class="col-12">
                            <button class="btn btn-success">
                                Add new T-shirts
                            </button>
                        </div>
                    </div>
                </form>


                <div class="container_fill">
                    <div class="bestsellers_cards">
                        <div class="bestsellers_card" th:each="sh : ${shirts}">
                            <input type="hidden" name="id" th:value="${sh.id}">
                            <div class="bestsellers_card-img">
                                <div class="bestsellers_card-jpg">
                                    <img th:src="@{'/image/' + ${sh.shirtcardimg}}" alt="">
<!--                                    <div class="bestsellers_card-sale">-->
<!--                                        <div class="bestsellers_sale-title">-->
<!--                                            -25%-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="popular_content">
                                <div class="popular_card-title">
                                    <a href="#" th:text="${sh.title}"></a>
                                </div>
                                <div class="popular_card-item">
                                    <a href="#" th:text="${sh.name}"></a>
                                </div>
                                <div class="popular_card-price" th:text="${sh.price}">
                                    <div class="addTshirt__tg">тг</div>
                                </div>
                            </div>
                            <a th:href="@{'/admin/detailsshirt/'+${sh.id}}" class="btn btn-primary btn-sm">DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>